---
const pageTitle = "Home";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
  </main>
</Layout>

<style>
  main {
    height: 100rem;
  }
</style>
