---
const pageTitle = "Home";
import HomeLayout from "../layouts/HomeLayout.astro";
import "../styles/global.css";
---

<HomeLayout pageTitle={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
  </main>
</HomeLayout>

<style>
  main {
    height: 100rem;
  }
</style>
