---
import BaseLayout from "../layouts/Layout.astro";
const pageTitle = "School";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Успех в любом деле немыслим без обучения мастерству. И нарды не исключение.
    Для повышения качества своей игры и увеличения количества побед в турнирах и
    матчах необходимо читать статьи, изучать специальную литературу, решать
    учебные задания, разбирать матчи мастеров игры. Успех в любом деле немыслим
    без обучения мастерству. И нарды не исключение. Для повышения качества своей
    игры и увеличения количества побед в турнирах и матчах необходимо читать
    статьи, изучать специальную литературу, решать учебные задания, разбирать
    матчи мастеров игры. Успех в любом деле немыслим без обучения мастерству. И
    нарды не исключение. Для повышения качества своей игры и увеличения
    количества побед в турнирах и матчах необходимо читать статьи, изучать
    специальную литературу, решать учебные задания, разбирать матчи мастеров
    игры. Успех в любом деле немыслим без обучения мастерству. И нарды не
    исключение. Для повышения качества своей игры и увеличения количества побед
    в турнирах и матчах необходимо читать статьи, изучать специальную
    литературу, решать учебные задания, разбирать матчи мастеров игры.
  </p>
</BaseLayout>
