---
import ContentMainPageLayout from "../layouts/ContentMainPageLayout.astro";
const pageTitle = "Where to play";
const description =
  "In recent decades, the opportunities for playing backgammon have changed significantly. Now, you can play not only in person but also online. Moreover, this method of playing is becoming more and more popular. It is no longer a problem to find a partner for backgammon at any time of day or night.";
---

<ContentMainPageLayout
  pageTitle={pageTitle}
  bgImage="bg-whereToPlay"
  description={description}
>
  <ul class="main-section-list">
    <a href="where-to-play/live-tournaments">
      <li>Tournaments</li>
    </a>
    <a href="where-to-play/world-championships">
      <li>World championships</li>
    </a>
    <a href="where-to-play/series">
      <li>Series</li>
    </a>
    <a href="where-to-play/online">
      <li>Online</li>
    </a>
  </ul>
  <div class="main-section-img-container">
    <img
      src="online.jpg"
      alt="girl playing backgammon"
      class="main-section-img"
    />
  </div>
</ContentMainPageLayout>

<style>
  ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 2.5rem;
  }

  .main-section-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .main-section-img {
    max-width: 95%;
    max-height: 320px;
    height: auto;
  }
</style>
