<div class="header-slogan-container">
  <h1 class="header-slogan-text">
    <span class="heading-slogan-text-primary">JustBG</span>
    <span class="heading-slogan-text-sub"
      >It's all about
      <span class="heading-slogan-text-submain">backgammon</span>
    </span>
  </h1>
</div>

<style>
  .header-slogan-container {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  .header-slogan-text {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    animation: moveDown 0.5s;
  }

  .heading-slogan-text-primary {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-right: -2rem;
    margin-bottom: 1.25rem;
  }

  .heading-slogan-text-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.125rem;
    margin-right: -1.125rem;
  }
</style>
