<div class="nav-logo-container">
  <a href="/"><img class="nav-logo-image" src="/logo.png" alt="bg logo" /></a>
</div>

<style>
  .nav-logo-container {
    display: flex;
  }

  @media (min-width: 1024px) {
    .nav-logo-container {
      flex: 1 1 0%;
    }
  }

  .nav-logo-image {
    height: 6rem;
    width: auto;
  }
</style>
