---
import Logo from "./Logo.astro";
import Hamburger from "./Hamburger.astro";
import MobileNavigation from "./MobileNavigation.astro";
const { navTransparency, animation } = Astro.props;
---

<nav class={`header-nav ${navTransparency} ${animation}`}>
  <div class="header-nav-container">
    <Logo />
    <div class="header-nav-menu">
      <a href="/" class="header-nav-link">Home</a>
      <a href="/game-basics" class="header-nav-link">Basics</a>
      <a href="/school" class="header-nav-link">School</a>
      <a href="/game-masters" class="header-nav-link">Masters</a>
      <a href="/game-servers" class="header-nav-link">Game rooms</a>
      <a href="/miscellaneous" class="header-nav-link">Miscellaneous</a>
    </div>
    <Hamburger animation={animation} />
    <MobileNavigation animation={animation} />
  </div>
</nav>

<style>
  .header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: white;
  }

  .header-nav-container {
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
  }

  .header-nav-menu {
    display: none;
  }

  .header-nav-link {
    font-size: 1.6rem;
    line-height: 1.5rem;
  }

  .header-nav-link:hover {
    text-decoration: underline;
  }

  .transparent {
    background-color: rgba(34, 77, 106, 0.2);
  }

  .not-transparent {
    background-color: rgba(34, 77, 106, 0.95);
  }

  @media (min-width: 1024px) {
    .header-nav-menu {
      display: flex;
      column-gap: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .header-nav {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
</style>
