---
import ContentSubPageLayout from "../../layouts/ContentSubPageLayout.astro";
const pageTitle = "Etiquette";
---

<ContentSubPageLayout pageTitle={pageTitle} bgImage="bg-basics">
  <p>
    Once upon a time, backgammon was an amusement for the elite, played only by
    rulers, tsars, and kings. However, for over two hundred years, backgammon
    has become part of the daily life of ordinary people, firmly establishing
    its position. With the game spreading worldwide, the formation of backgammon
    enthusiasts' clubs, and the continuous organization of championships, it is
    important to pay attention to the etiquette of players.
  </p>
  <p>
    The most widely adopted rules for short backgammon games were established in
    New York in 1931 by a committee comprising representatives from American
    clubs where backgammon was played. Since then, only a few minor changes have
    been made to the official rules:
  </p>
  <ul>
    <li>
      The side for rolling the dice does not necessarily have to be on the right
      side of the player with the light pieces.
    </li>
    <li>
      The seating arrangement, the color of the pieces, dice, and the direction
      of the game are determined randomly.
    </li>
    <li>
      A player cannot demand the cancellation of a move and a dice reroll if
      their opponent has picked up the dice before the move is completed.
    </li>
    <li>
      Errors in the game can only be corrected at the request of the opponent.
    </li>
    <li>
      When tallying the score of a game, it does not matter where the pieces are
      left on the board, except in the cases of gammon and backgammon.
    </li>
  </ul>
  <p>
    Situations not covered by the rules are regulated by agreement between
    players or the tournament committee conducting the competition.
  </p>
  <p>
    During face-to-face play, it is customary to observe the following
    unofficial rules:
  </p>
  <ol>
    <li>A player must roll the dice to the right side of the board.</li>
    <li>
      Dice must be rerolled if any of them go outside the right side or land on
      a piece.
    </li>
    <li>
      A move is considered unfinished until the player making it removes their
      dice from the board.
    </li>
    <li>
      If two sets of dice are used, a player should not roll their dice until
      their opponent removes theirs from the board. This rule is loosely
      followed when mutual piece removal occurs since pieces cannot come into
      contact, or when the opponent makes forced moves.
    </li>
    <li>
      An unauthorized move can be corrected by any of the players, but the
      correction must be made before the next participant rolls their dice. Any
      unauthorized move remains valid if it is not corrected in time.
    </li>
  </ol>
  <p>
    People seriously involved in backgammon are familiar with these simple
    rules, but enthusiasts or those contemplating joining the game must know
    them. Many are unaware of what behavior is considered correct and what
    seemingly harmless actions may be perceived by their opponent as impolite
    and rude.
  </p>
  <p>
    Since backgammon originated in the East, when starting a game with a new
    player, it is advisable to show Eastern friendliness: greet and wish good
    luck in the game. Politeness should be maintained at the end of the game,
    even if you have faced defeat; you must thank your opponent. After all,
    losing is often a path and a strong incentive for development.
  </p>
  <p>Tips for players:</p>
  <ul>
    <li>
      Maintain a positive conversation. A few kind words can accompany the game,
      while negative words at an inappropriate moment can negatively affect the
      outcome.
    </li>
    <li>
      If you need to greet a friend or respond to their question, do it quickly
      and politely. Remember that you are in a game that requires increased
      attention and concentration.
    </li>
    <li>
      Refrain from commenting on your opponent's lucky rolls; this can irritate
      them and lead to a loss of composure and focus on the game.
    </li>
    <li>Do not criticize the game of your opponents.</li>
    <li>
      In tournaments, especially in the later stages, minimize communication.
    </li>
    <li>
      Do not waste time. Whether it's a casual game or a tournament, it will be
      detrimental to you and the other participants at the table. Of course,
      both you and the other player should have a certain amount of time to
      think about the move and plan the strategy for the game, but try not to
      prolong this pause.
    </li>
  </ul>
  <p>When playing online:</p>
  <ul>
    <li>
      If your internet connection fails, and you need to reload the game or wait
      for the connection to be restored, apologize to your opponent and
      spectators, explaining the problem.
    </li>
    <li>
      Do not write in capital letters in the chat, as it indicates strong
      emotions and shouting, which some players may not like.
    </li>
    <li>Do not be rude or insult other players in the chat.</li>
  </ul>
  <p>
    By adhering to these straightforward rules during the game, you will not
    only gain great experience and develop skills but also leave pleasant
    memories of yourself for your opponents. The game has existed for several
    thousand years and is one of the most popular intellectual board games
    today. It is accessible to all age groups, people of all nationalities, and
    representatives of various social classes. In tournaments and championships
    held annually in many cities worldwide, including our country, participants
    on either side of the game board include young and elderly players, people
    from the East and the West, Europe and Asia, individuals from various
    professions, and those who make a living through gaming. Backgammon can
    become the main passion of your life, a pleasant form of recreation with
    friends, or a source of income in online tournaments. In any case, you
    should not forget about backgammon player etiquette, respecting the
    traditions of the past and the history of the game.
  </p>
</ContentSubPageLayout>

<style>
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  blockquote {
    margin-left: 3rem;
    margin-right: 3rem;
    font-style: italic;
  }

  .img-container {
    text-align: center;
    margin: 1rem;
  }

  img {
    max-width: 100%;
    max-height: 20rem;
  }

  p {
    padding-bottom: 1rem;
  }

  ol,
  ul {
    padding-bottom: 1rem;
  }

  ul > li {
    list-style: disc;
  }

  ol > li {
    list-style: decimal;
  }
</style>
