---
import ContentSubPageLayout from "../../layouts/ContentSubPageLayout.astro";
const pageTitle = "History";
---

<ContentSubPageLayout pageTitle={pageTitle} bgImage="bg-basics">
  <h2>Introduction</h2>
  <p>
    The English name of the game "backgammon" is derived from the words "back"
    and "game." According to one version, it is related to the fact that the
    chances of winning the game depend on how far each opponent is from
    finishing the game. Another version suggests that the name is connected to
    the fact that hit checkers return back. The word first appears in the
    Anglo-French Dictionary Cotgraves in 1611, and later in 1645 in the form of
    "baggamon."
  </p>
  <p>
    Geographically, "backgammon" is a general name for any similar type of game
    played not only in English-speaking countries. All of these games have a
    board with 12 points, but they differ in their characteristic features. Some
    games used three dice instead of two, others had different starting
    positions for checkers, and some had both players moving in the same
    direction. There were variations in victory conditions and more.
  </p>
  <p>
    From a historical standpoint, there is a precursor known as "tables" in
    England – played from the 14th to the late 17th century. The Latin name
    "Tabula" preceded this term. However, "tables" is a general term covering a
    wide range of games with slight variations, including Irish, Doublet,
    Fayles, and others. Similar games were played by people in many ancient
    civilizations; for example, the Greeks had Tavli, the Arabs had Tauli,
    Italians had Tavole, Scandinavians had Tafl, and the Welsh had Tawl.
  </p>
  <h2>In the depths of centuries</h2>
  <p>
    In the southeastern part of Iran, archaeologists discovered a low table
    whose surface serves as a game board. It consists of three parallel rows of
    twelve circular cells arranged in the shape of four snakes. The estimated
    age of this board is the mid-third millennium BCE, making the age of
    backgammon around 5000 years.
  </p>
  <p>
    Ancestors of Backgammon: <ul>
      <li>
        The Royal Game of Ur involved moving seven checkers on a board with 20
        squares, according to the numbers rolled on three pyramidal dice.
      </li>
      <li>
        The Game of Twenty had each participant playing with five checkers,
        entering from one side of the board and aiming to move them to the
        fourth square on the other side, then remove them from the board with 20
        squares.
      </li>
      <li>
        Senet had a board with 30 cells arranged in three rows of ten, and
        players had five to seven checkers each.
      </li>
      <li>
        Shields, palm branches, dogs, and jackals - played by moving wooden pegs
        across 58 holes on a double-symmetric board, similar to a Cribbage board
        but adorned with various figures such as shields, double-edged axe
        heads, palm branches, etc.
      </li>
      <li>
        Duodecim Scripta (Twelve Lines) - each side had 15 checkers, and players
        rolled three dice, playing on three rows of 12 cells.
      </li>
    </ul>
  </p>
  <p>
    India is not universally accepted as the birthplace of backgammon; however,
    some variations of the game are described in Sanskrit encyclopedias. Six
    starting schemes, one of which we use as a standard or traditional position,
    are particularly noteworthy.
  </p>
  <p>
    The Islamic contribution to the European game of Tables is the Persian game
    of Nard. The modern name of the Iranian game is still used and is, in fact,
    identified with Anglo-American or international backgammon.
  </p>
  <p>
    It can be argued that the Arabs adopted backgammon from the Persians when
    they conquered the territory of present-day Iran in the 7th century. The
    game also spread northward to Georgia and Kalmykia (Central Asia), further
    north through Astrakhan to China, and from there to Korea and Japan. It also
    moved westward into Europe through Moorish-conquered Spain.
  </p>
  <h2>The Middle Ages</h2>
  <p>
    Sources from France, Italy, and many other European countries attest to the
    widespread popularity of Tables variations until the 15th century. However,
    they became less popular due to the emergence and rapid spread of card
    games, which attracted players who were drawn to the element of chance in
    Tables. Simultaneously, the noticeable improvement of chess and checkers
    also contributed, appealing to players seeking intellectual challenges.
    These circumstances, possibly coupled with a decrease in population due to
    the plague epidemic and its rejuvenation by the younger generation, led to a
    decline in the number of Tables variations in favor of one or two main
    games, each dominant in its homeland. For instance, the French developed
    their national game "Trik-trak," where victory was awarded to the player
    reaching a certain number of points, while the Germans had "Puffspiel," a
    parallel game.
  </p>
  <p>
    In 16th-century England, the game most popular was intriguingly named
    "Irish." The first usage of this name dates back to 1588 and still requires
    further research. It later evolved into backgammon towards the end of the
    century, with the name first mentioned in 1611.
  </p>
  <p>
    Two main differences between backgammon and the Irish game were as follows:
    the double use of doubles and determining the degree of victory by the
    margin between the winner and their opponent. Victory was yours if you bore
    off all your checkers while your opponent was just starting to bear off
    theirs. Winning was doubled if you finished with a double, triple if with a
    "backgammon" – bearing off all your checkers before your opponent bore off
    any, and finally, quadrupled if you achieved all the necessary for triple
    victory, but with a double. Over time, the victory degree with a final
    double was abolished; the original triple victory (backgammon) was reduced
    to double and renamed "gammon," while the triple victory backgammon was
    redefined in its current form.
  </p>
  <p>
    The concept of different levels of victory has been around for quite some
    time. Double victory or "lurch" was already present in early Tables
    variations when the loser failed to bear off any checkers.
  </p>
  <p>
    By the way, numerical terms – one, deuce, trey, quatre, cinque, sice – were
    used in dice rolls and, to some extent, in playing cards. This usage was
    prominent even during the time of William the Conqueror, the Duke of
    Normandy and King of England, and his numerous descendants for 200 years
    after the Norman Conquest of England in 1066.
  </p>
  <p>
    With the advent of the 18th century, backgammon became the premier game,
    especially in England, among games played "at the tables." However, its
    popularity among the general public began to decline, particularly in
    cities. During this period, cafes transformed into gambling centers for
    gentlemen, where the main games of chance were various card games and EO –
    the precursor to roulette. Enthusiasts of more intellectual games turned to
    chess and, by this time, checkers.
  </p>
  <h2>Modern Times</h2>
  <p>
    The revival of backgammon in the 20th century began with the doubling cube
    in an American club in the 1920s. The doubling cube is often discussed as if
    it were a brilliant modern invention that had never been used before.
    However, as early as the late 17th century, Francis Willughby described the
    process of initial and repeated doubling of stakes in Tickle-Tackle, calling
    it Vie Ticktack. The essence of the 20th-century invention lay not in the
    fact of doubling but in the addition of doubling equipment – the doubling
    cube, signifying an increase in the doubling factor subsequently.
  </p>
  <p>
    By the end of the 1960s, Anglo-American backgammon became somewhat of a
    craze on both sides of the Atlantic and gained widespread popularity in the
    1970s. In 1967, the idea of holding an annual World Championship was
    proposed.
  </p>
  <p>
    The 1970s also marked the beginning of computer analysis of the game and the
    development of gaming software. Indeed, backgammon is one of the world's
    best electronic games. Backgammon lends itself to analysis much better than
    chess for several reasons: firstly, it is linear (rather than
    two-dimensional), and secondly, the game never ends in a draw, making its
    analysis essentially numerical.
  </p>
  <p>
    The outcome of these technological developments resulted in a) the
    widespread availability of easily accessible programs, allowing players to
    develop their skills at home, unlike winners of previous world
    championships, and b) the popularity of backgammon in casinos and
    specialized gaming halls on the Internet.
  </p>
  <p>
    Backgammon, in the broad sense of the term, is a competitive game. Two or
    more players move one or more of their checkers (or checkers) from their
    starting position to the end of the board according to numbers generated by
    a random number generator, such as dice. In the simplest competitive games,
    each participant moves only one checker – for example, in Snakes and Ladders
    (or Chutes and Ladders in the U.S.). In such games, you have only one
    checker, leaving no choice, so there is no discussion of game strategy, and
    the game is based on absolute randomness.
  </p>
  <p>
    In the more complex group of competitive games, represented by the Indian
    games Chaupar and Pachisi and later Ludo (in the UK) and Parcheesi (CIF),
    each player has four checkers – now participants have more freedom of choice
    regarding how to move their checkers with the rolled number. These games
    already contain elements of skill and strategy, with the Indian variant
    having an even greater skill factor, playing with four checkers – two each,
    and each move is made with "your" checkers.
  </p>
  <p>
    In the Nard or Tables family, the number of checkers increased to 15 for
    each player (even more in some variations), and the number of dice varied
    from one to three. In such games, the skill factor is even more significant,
    although not as high as in diceless abstract board games like Chess and Go.
    The game's centuries-long worldwide popularity is owed to its unique feature
    – the perfect balance of chance and skill.
  </p>

  <style>
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      padding-bottom: 1rem;
    }

    ul {
      padding-bottom: 1rem;
    }

    ul > li {
      list-style: disc;
    }
  </style>
</ContentSubPageLayout>
