---
import "../styles/global.css";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>JustBG | {pageTitle}</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<script>
  const hamburger = document.querySelector(".hamburger-container");
  const mobileNav = document.querySelector(".mobile-nav-container");
  const mobileNavCloseBtn = document.querySelector(".mobile-nav-close-button");

  hamburger?.addEventListener("click", () => {
    hamburger?.classList.toggle("hidden");
    hamburger?.classList.toggle("open");
    mobileNav?.classList.toggle("hidden");
  });

  mobileNavCloseBtn?.addEventListener("click", () => {
    hamburger?.classList.toggle("hidden");
    hamburger?.classList.toggle("open");
    mobileNav?.classList.toggle("hidden");
  });
</script>
